

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
padding-top: 0px;
  font-family: Helvetica,arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  font-family: "Montserrat";
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
    background-color: #fff;
  color: #666;
}

a {
	color: #111;
}
a:hover {
	text-decoration: none;
	color:#595858;
}
div {
	display: block;
}
h1 {
	color:#111;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.logo {
	  margin: 0;
  font-family: Varela Round,Helvetica,arial,sans-serif;
  font-weight: normal;
  text-transform: normal;
  font-size: 36px;
  letter-spacing: 0px;
  font-family: "Montserrat";
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  display: inline-block;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 682px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.nopadding {

   padding: 5px !important;

}

#container {
	padding: 40px;
}
#logo {
	float:left;
}
#nav-menu {
  position: relative;
  top: 0px;
  left:-10%;
}










